.history-box {
  display: table;
  border: 1px solid #e7e7e7;
  margin-left: 20px;
  width: 175px;
  min-height: 250px;
}

.history-title {
  color: white;
  background-color: #383838;
  font-size: 14px;
  width: 110px;
  margin-top: 70px;
  margin-bottom: 0px;
  margin-left: 20px;
  border: 1px solid #e7e7e7;
  text-align: center;
  line-height: 35px;
  font-weight: 600;
}

.recommend-title {
  color: white;
  background-color: #383838;
  font-size: 14px;
  width: 110px;
  margin-top: 35px;
  margin-bottom: 0px;
  margin-left: 20px;
  border: 1px solid #e7e7e7;
  text-align: center;
  line-height: 35px;
  font-weight: 600;
}

.recommand-data-form {
  text-align: center;
  margin: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.recommand-box {
  display: table;
  border: 1px solid #e7e7e7;
  margin-left: 20px;
  margin-bottom: 50px;
  width: 175px;
  min-height: 250px;
}

.recommand-button{
    margin-bottom: 5px;
    border: none;
    background-color: inherit;
    font-size: 15px;
    font-weight: 600;
    color: #47498d;
    padding: 5px;
}

.recommand-button:hover{
  text-decoration: underline;
}

.delete-button {
  border: none;
  background-color: inherit;
  float: right;
}

.history-data-form {
  font-size: 15px;
  font-weight: 600;
  color: #102753;
  margin: 10px;
}

.remove-all-history-button {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin: 10px;
  width: 150px;
  vertical-align: baseline;
  text-align: center;
}

.remove-all-button {
  border: none;
  font-size: 14px;
  font-weight: 600;
  background-color: inherit;
}
