header {
  text-align: center;
}

body {
  text-align: center;
}

.navbar {
  height: 100px;
  align-items: flex-start;
  font-size: 12px;
}

.search-box {
  display: inline-block;
  min-width: 460px;
}

.search-bar{
  display: inline-block;
  position: relative;
  right: 28px;
  min-width: 460px;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.banner {
  width: 503px;
  height: 130px;
  vertical-align: middle;
  background: url(../image/papercat_logo_pro_v4_500x100.png) no-repeat;
  overflow: hidden;
  display: inline-block;
}
