.form-control {
  border: 3px solid #ced4da;
  border-right: none;
}

.input-group {
  font-size: 12px;
}

.input-button{
  border: 3px solid #ced4da;
  border-left: none;
  padding-bottom: 26px;
  padding-left: 21px;
  right: 1px;
}