.paper-form {
  border: 1px solid #e7e7e7;
  min-height: 100px;
  margin-bottom: 40px;
}

.paper-keyword-form {
  border: black 0.5px solid;
  margin: 10px;
}

.title {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: 100;
}

.short-info {
  display: flex;
  margin-left: 10px;
  margin-bottom: 30px;
}

.expand-button {
  float: right;
  margin-right: 30px;
  border: none;
  background-color: white;
}

.paper-title-box {
  font-weight: 700;
  border-bottom: #c7daef 1px solid;
  margin: 20px;
}

.paper-rec-form {
  font-size: small;
  margin: 10px;
}

.page-item {
  cursor: pointer;
}

.page-position {
  text-align: center;
}

.paper-ref-form {
  font-size: small;
  margin: 10px;
}

.author {
  min-width: 150px;
  margin-left: 20px;
}

.academy {
  min-width: 150px;
  margin-left: 20px;
}

.year {
  min-width: 150px;
  margin-left: 20px;
}

.abstract {
  font-size: small;
  margin: 10px;
  border: darkblue solid 0.5px;
  line-height: 201%;
}

.keyword {
  margin-bottom: 20px;
}

.reference {
}
