.contents-wrap {
  text-align: left;
}

.pagination{
  justify-content: center;
}

.result-input-box {
  margin-left: 100px;
  margin-top: 30px;
}

.body-contents {
  display: inline-block;
}

.Logo {
  display: inline-block;
  position: relative;
  background: url(../image/small_logo.png) no-repeat;
  left: 10px;
  width: 210px;
  height: 60px;
  bottom: 20px;
}

.count-result {
  line-height: 50px;
  font-size: small;
  color: #999;
}

.paper-result {
  display: inline-block;
  position: absolute;
  width: 800px;
  min-height: 1000px;
  margin-left: 3%;
  margin-top: 1%;
  text-align: left;
}

.result-header {
  margin-top: 30px;
  display: inline-block;
  border-bottom: 1px solid #e7e7e7;
  text-align: left;
  height: 18%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 999;
}

.keyword-box {
  display: inline-block;
  border-right: 1px solid #e7e7e7;
  margin: 0 auto;
  width: 220px;
  min-height: 1030px;
  background-color: rgb(255, 255, 255);
}

.form-control {
  border: 3px solid #ced4da;
  border-right: none;
}

.hidden-logo{
  font-size: 0px;
  display: inline-block;
  padding-left: 210px;
  padding-bottom: 60px;
}

.hidden-logo:hover{
  font-size: 0px;
}

.input-group {
  font-size: 12px;
  height: 50px;
}

.input-button {
  border: 3px solid #ced4da;
  border-left: none;
  padding-bottom: 26px;
  height: 26px;
  padding-left: 21px;
  right: 1px;
}

.page-link{
  color: black;
}

.page-item.active .page-link{
  background-color: rgb(46, 38, 38);
  border-color: rgb(46, 38, 38);
}

.no-results-img{
    margin-left: 200px;
    border-bottom: #464646 5px solid;
    border-radius: 1em;
    margin-bottom: 50px;
}

.no-results-font{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}